*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #ffffff;
}
body{
    background-color: #ffffff;
}
header h1{
    margin-top: 50px;
    color: #261F56;
    text-align: center;
    font-size: 46px;
}
header p{
    color: #261F56;
    text-align: center;
    font-size: 21px;
}
main{
    background-color: #261F56;
    border-radius: 10px;
    margin: 50px auto 0;
    max-width: 1070px;
    padding: 50px;
}
::placeholder {
    color: #ffffff;
    padding-left: 10px;
    font-weight: 100;
    font-size: 15px;
}
label{
    font-size: 21px;
    color: #5EBCAF;
    /*margin-top: 10px;*/
    /*margin-bottom: 10px;*/
    /*margin-left: 50px;*/
    display: inline-block;
    width: 300px;
}
.leeglabel{
    display: none;
}
input[type="radio"] {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
label[for="heer"], label[for="mevrouw"], label[for="geen"]{
    font-size: 16px;
    width: auto;
    display: inline-block;
    margin: 10px 20px;
}
input[name="postcode"], input[name="gemeente"], input[name="huisnr"], input[name="bus"] {
   display: inline-block;
    width: 29%;
    height: 35px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #261F56;
    border: 1px solid #5EBCAF;
    border-radius: 10px;
    margin-right: 1.5%;

}
input[name="extraad"], input[name="straat"], input[name="voornaam"], input[name="achternaam"] {
    width: 60%;
    height: 35px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #261F56;
    border: 1px solid #5EBCAF;
    border-radius: 10px;
}

input[type="submit"] {
    width: 40%;
    height: 45px;
    display: inline-block;
    border: 1px solid #5EBCAF;
    font-size: 16px;
    background-color: #5EBCAF;
    border-radius: 10px;
}

