*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*___HEADER*/
/*____________NAVBAR*/
.navbar{
    height: 100px;
}
.navbar-brand{
    width: 4rem;
}

.navbar ul li a {
    margin: 0 10px;
    font-size: 16px;

}

.navbar .nav-link:hover, .nav-link .dropdown-toggle{
    font-weight: bold;
}
.navbar-brand  img{
    width: 100%;
}

/*BODY*/
.bodytitle{
    color: #261F56;
    padding: 25px;
}
#bodyh2{
    font-size: x-large;
    font-weight: 450;
}















/*FOOTER*/

.footer__{
    background-color: #261F56;
    color: #ffffff;
    max-height: 450px;
}

.footer__ ul li {
    text-decoration: none;
    list-style: none;
}
.footer__ ul li a{
    color: #ffffff;
    text-decoration: none;
}
.footer__ span{
    color: #5EBCAF;
    font-size: 20px;
    font-weight: normal;
    margin: 10px 30px ;
}
.social-media-footer a{

    display: flex;
    padding: 2px;
    margin: 20px 10px ;
    color: #ffffff;
}
.footer__ p:last-child {
    background-color: #ffffff;
    color: #000000;
}
.accordion-item {
    border-left: none;
    border-right: none;
    border-width: 3px;
}
#accordionExample{
    margin-bottom: 50px;
    margin-top: 30px;
}