.gradient-custom {
    background-image: url("achtergrondwinkelmandje.png");
}
.container-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.winkelmandje-container {
    background-image: url("achtergrondwinkelmandje.png");
    background-size: cover;
    border-radius: 15px;
    padding: 10px;
}