* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}


/*___HEADER*/
/*____________NAVBAR*/

.navbar {
    background-color: #ffffff;

}

.navbar-brand {
    width: 4rem;
}

.navbar ul li a {
    margin: 0 10px;
    font-size: 16px;

}

.navbar .nav-link:hover, .nav-link .dropdown-toggle {
    font-weight: bold;
}

.navbar-brand img {
    width: 100%;
}

.container_modal .btn-close {
    background-color: #ffffff;
}

.container-cart-products {
    position: absolute;
    top: 100px;
    right: 0;

    background-color: #fff;
    width: 400px;
    z-index: 1;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    border-radius: 10px;

}

.cart-product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;

    border-bottom: 1px solid rgba(0, 0, 0, 0.20);

}

.info-cart-product {
    display: flex;
    justify-content: space-between;
    flex: 0.8;
}

.hidden-mandje {
    display: none;
}

/*HERO STATION*/
.hero-station__ {
    margin-top: 100px;
}

.hero-parts__, .hero_detail {
    margin-top: 200px;
}

.hero-station__ h1, .hero-station__ h2, .hero-station__ h3, .hero-station__ p:last-child, .hero-station__ .btn:nth-child(2) {
    color: #5EBCAF;
}

.hero-station__ p {
    font-size: 20px;
}

.overlay-body p:first-child {
    background-color: rgba(0, 0, 0, 0.56);
}

.hero-station__ .btn-outline-light:hover {
    background-color: #4F847A;
    color: #ffffff;
    border: none;
}

.hero-station__ .btn-primary:active, .hero-station__ .btn-primary {
    background-color: #4F847A;
    border: none;
}

/*HERO PARTS*/
.hero-parts__ h1, .card-body-links h2 {
    color: #261F56;
}


.card-body-links h2, .card-body-links button {
    margin: 20px 15px;

}

.card-body-links button {
    border-color: #4F847A;
    color: #4F847A;
}

.card-body-links button:hover {
    background-color: #4F847A;
    border: none;
}

.card-body-links p {
    margin: 30px 15px;
}

.card-body-rechts .titel_visible_hidden {
    visibility: hidden;
}


/*HERO CARD RECHTS*/
.card-body-rechts h2, .card-body-rechts h4, .card-body-rechts span {
    color: #5EBCAF;
    margin: 20px 15px;
}

.card-body-rechts p {
    margin: 20px 15px;
}

.card-body-rechts button:hover {
    background-color: #4F847A;
    border: none;
    color: #ffffff;
}

/*----------!/END HEADER*/
/*HERO DETAIL*/
.detail_pagina .btn-primary, .detail_pagina .btn-secondary {
    background-color: #261F56;

}

.detail_pagina .btn-primary {
    border: none;
}

.hero_detail span, .hover_buttons button:hover {
    background-color: #5EBCAF;
    border: none;
    color: #000000;
}

.hero_detail span {
    color: #000000;
}

.hero_detail .dropdown-toggle {
    height: 70px;
    width: 100px;
    background-color: #ffffff;
    color: #000000;
    margin: 0 10px;
}

.hero_detail .bi-check-circle-fill {
    color: #22ab22;
}

/*fonts*/
main h1, h2, h3, h4{
    font-family: "Aptly", sans-serif;
}
main p, main button{
    font-family: New-order, sans-serif;
}
/*main*/
main h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #261F56;
}

main {
    padding: 80px 0;
}

/*main deel 1*/

#main_bezorgadres {
    background-color: #eeeeee;
    border-radius: 15px;
    width: 65%;
    padding: 0;

}

#main_bezorgadres h2, #main_bezorgadres p {
    padding-left: 10px;
}

#bezorg_gegevens {
    margin: 0 auto;
}

#card_bezorgadres {
    background-color: #261F56;
    width: 23%;
    height: 170px;
    color: #FFFFFF;
    border-radius: 10px;
    margin: 10px;
}

#card_bezorgadres_2 {
    background-color: #4A4A82;
    width: 23%;
    height: 170px;
    color: #FFFFFF;
    border-radius: 10px;
    margin: 10px;
}

#card_bezorgadres_2 h3 {
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 16px;
}

#card_bezorgadres h3 {
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 16px;
}

#card_bezorgadres p {
    font-size: 14px;
}

#card_bezorgadres_2 p {
    font-size: 14px;
}

main #card_img img {
    width: 40px;
}

main #card_img_2 img {
    width: 40px;
}

main a {
    color: #FFFFFF;
    text-decoration: none;
}

#bezorgadres_button {
    width: 35%;
    display: block;
    border: 1px solid #000;
    border-radius: 10px;
    height: 40px;
    margin: 10px auto;
}

/*main deel 2*/

#main_betaalmethode {

    background-color: #eeeeee;
    border-radius: 15px;
    width: 65%;
    /*margin-right: 100px ;*/
    padding: 0;
}

#main_betaalmethode h2 {
    padding-left: 10px;
}

#card_visa {
    background-color: #4A4A82;
    width: 23%;
    height: 170px;
    color: #FFFFFF;
    border-radius: 10px;
    margin: 10px;
}

#card_master {
    background-color: #261F56;
    width: 23%;
    height: 170px;
    color: #FFFFFF;
    border-radius: 10px;
    margin: 10px;
}

#card_master h3 {
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 16px;
}

#card_visa h3 {
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 16px;
}

main #master_img img {
    width: 90px;
}

main #visa_img img {
    width: 90px;
}

main a {
    color: #FFFFFF;
    text-decoration: none;
}

#betaal_button {
    width: 35%;
    display: block;
    border: 1px solid #000;
    border-radius: 10px;
    height: 40px;
    margin: 10px auto;
}

/*betaal overzicht*/
#betaal_overzicht {
    width: 25%;
    height: 300px;
    background-color: #fff;
    margin-left: 70px;
    border-radius: 10px;
    box-shadow: 10px 10px 5px #e7e7e7;
    border: 1px solid #efefef;
}

hr {
    border: 1px solid #707070;
    opacity: 50%;
}

#betaal_overzicht h4 {
    padding-top: 15px;
    padding-bottom: 30px;
    font-size: 25px;
}

#bestellen {
    display: block;
    height: 40px;
    width: 90%;
    background-color: #261F56;
    color: #FFFFFF;
    margin: 10px auto;
    outline: none;
    font-size: 18px;
    border: 1px solid #261F56;
    border-radius: 10px;
}

.bestellen_betalen {
    width: 30px;
}

.footer__ {
    background-color: #261F56;
    color: #ffffff;
    min-height: 500px;
    max-height: 800px;
}

.footer__ ul li {
    text-decoration: none;
    list-style: none;
}

.footer__ ul li a {
    color: #ffffff;
    text-decoration: none;
}

.footer__ span {
    color: #5EBCAF;
    font-size: 20px;
    font-weight: normal;
    margin: 10px 30px;
}

.social-media-footer a {

    display: flex;
    padding: 2px;
    margin: 20px 10px;
    color: #ffffff;
}

.footer__ p:last-child {
    color: #000000;
}

.footer__ iframe {
    width: 100%;
    height: 400px;
}
