* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-family: New-order, sans-serif;
}

body {
    background-color: #ffffff;
}

div {
    text-align: center;
}

main h1 {
    font-size: 21px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: aptly, sans-serif;
}

main p {
    font-size: 12px;
    margin-bottom: 40px;
}

main {
    background-color: #261F56;
    border-radius: 10px;
    margin: 50px auto 0;
    max-width: 450px;
    padding: 20px;
}

label {
    font-size: 16px;
    margin-left: 20px;
}
input{
    color: #ffffff;
    padding-left: 15px;
    font-weight: 100;
    font-size: 15px;
    outline: none;

}
::placeholder {
    color: #ffffff;
}


input[type="email"] {
    width: 90%;
    height: 35px;
    margin: 0 auto;
    display: block;
    /*margin-bottom: 30px;*/
    border-radius: 10px;
    border: 1px solid #5EBCAF;
    background-color: #261F56;

}

input[type="submit"] {
    width: 80%;
    height: 35px;
    display: block;
    margin: 0 auto;
    border: 1px solid #5EBCAF;
    background: #5EBCAF;
    color: #fff;
    border-radius: 10px;
    font-size: 12px;

}

@media screen and (max-width: 820px ) {
    body {
        background-color: #261F56;
    }
}